h1{
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-weight: 700;
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    
    
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: start;
    font-style: bold italic;
    font-weight: 500;
}