.a{
    width: 80vw;
    height: 50vh;
    background-color: blue;
    display: flex;
     align-items: flex-end;
}
.b{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-color: red;
    animation: a 10s infinite 1s cubic-bezier(0.175, 0.885, 0.32, 1.275)alternate,
    b 1s infinite 1s cubic-bezier(0.39, 0.575, 0.565, 1) alternate;
    
}
@keyframes a {
    from{
      transform: translatey(0px);
    }
    to{
       transform: translatey(-200px);
    }
}
@keyframes b {
    
        from{
            transform: translateY(-200px);
        }
        to{
            transform: translatex(50px);
        }
     
}
