body{
    background-color: rgb(137, 193, 242);
}
.a{
    display: flex;
   justify-content: center;
    border: 1px solid black;
    height: 80vh;
    align-items: center;
    flex-direction: row;
    /* flex-wrap: wrap-reverse; */
    /* align-items: flex-start; */
    /* flex-flow:row wrap; */
    gap: 10px;
    
    
}
.b{
    border: 1px solid black;
    height: 35px;
    width: 35px;
    background-color: red;
    /* flex-grow: 1; */
}
.order-1{
    order: 1;
    /* flex-grow: 23; */
    align-self: flex-start;

}
.order-2{
    /* flex-shrink: 2; */
    align-self: flex-end;
}