p{
    color: rgb(253, 151, 18);
}
select{
    background-color: yellow;
}
div{
    color: rgb(129, 236, 23);
}
a{
    background-color: rgb(17, 202, 209);
}
span{
    background-color: rgb(183, 183, 221);
}
.href{
    color: red;
}
.dibesh{
    background-color: rgb(94, 10, 240);
}