

.red{
    color:red;
}


.Ranjan{
    color: #0404ed;
}
.Dibesh{
   background-color:rgb(209, 108, 125); 
}
h1{
    color: rgb(217, 11, 11);
}
#firstdiv{
    background-color: yellow;
}
.Tuku{
    color: rgb(7, 246, 7);
}
.Santosh{
    background-color: rgb(245, 70, 7);
}
#Brother{
background-color: rgb(251, 6, 55);
}
.Biswa{
    color: rgb(10, 249, 10);
}